<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">   
        <title>Article_list</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class='head_detail''><h1>{{article.title}}</h1></div>
        <div class="article-detail">
            <div class="blog">
                <img src= "{{article.thumb.url }}"/>
                <p>{{article.body|linebreaks}}</p>
                <p>{{article.date}}</p>
                <p class="author">by  {{article.autho}}</p>
            </div>
        </div> 
     </body>
</html>